<h1>Edit Book</h1>
<form action="/books/<%=book._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
    <%- include('_formFeilds') %>
    <a href="/books">Cancel</a>
    <button type="submit">Update</button>
</form>